
<tr class="cell-1">
    <td class="text-center">
        <div class="toggle-btn">
            <div class="inner-circle"></div>
        </div>
    </td>
    <td [routerLink]="['/orders/order/'+singleOrder?.id]" class="text-center"><a [routerLink]="['/orders/order/'+singleOrder?.id]" >{{singleOrder?.id}}</a></td>
    <td class="text-center">€ {{singleOrder?.total}}</td>
    <td class="text-center">{{singleOrder?.date | date}}</td>
    <td><i class="fa fa-ellipsis-h text-black-50"></i></td>
</tr>
