<div class="container">
    <div class="product-card row main">

        <ng-template #empty>
            <div class="loading">
                <img class="cart-e-img" src="../../../../assets/img/custom_img/cartempty.png">
            </div>
        </ng-template>
        <div *ngIf=" (cart$ | async) as cart" class="col-md-10">
            <div *ngFor="let product of cart">
                
                <single-cart-element 
                 (isIncreasing)="increaseCart($event)"
                  (isDecreasing)="decreaseCart($event)"
                    (isRemoving)="removeElement($event)" 
                  [cartproduct]="product">
                </single-cart-element>


            </div>
            <div (click)="placeOrder()" *ngIf="(total$ | async) as total; else empty"
                class="placeorder d-flex justify-content-center"><button class="btn btn-warning order-btn">Place order
                    of {{total}} 🛒</button></div>
        </div>
    </div>

</div>