
<footer class="bg-dark text-center text-white">
   
    <div class="container p-4">
     
      <section class="mb-4">
       
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/guglielmo.decaro" role="button"
          ><img src="../../../assets/img/custom_img/facebook.svg" />
        </a>

        <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/guglielmo_de_caro/" role="button"
          ><img src="../../../assets/img/custom_img/instagram.svg" />
        </a>

        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/williamdc92" role="button"
          ><img src="../../../assets/img/custom_img/github.svg"/>
        </a>

        <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/guglielmo-de-caro-2b7232204/" role="button"
          ><img src="../../../assets/img/custom_img/linkedin.svg"/>
        </a>
  
        
        
      </section>  
      
    
    </div>
    
  
   
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      2022 William DC 📧 decaroguglielmo@gmail.com
    </div>
 
  </footer>
  