

.main {
  height:100vh;
  width:100vw;
}

.grid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.noresults-img {
  width: 140%;
  padding: 4rem;
}

.no-order {
  height:100vh;
  width:100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* ----------col-md Medium----------*/

@media screen and (min-width: 768px) and (max-width: 992px) {

  .noresults-img {
    width: 75%;
    padding: 6rem;
  }
 

}

/* ----------col-lg Large----------*/


@media screen and (min-width: 992px) and (max-width: 1200px) {
  

.noresults-img {
  padding: 6rem;
  width:100%;

}
 
}

/* ----------col-xl Extra Large----------*/


@media screen and (min-width: 1200px) {
  

.noresults-img {
  padding: 8rem;
  width:60%;
  

}
}
