
<ng-template #empty>
    <div class="container mt-5 no-order">
    <img class="noresults-img" src="../../../../../../assets/img/custom_img/no-order-yet.png">
    </div>
</ng-template>

<div class="grid-container">
    
<ag-grid-angular
[rowData]="orders$ | async"
[columnDefs]="colDefs"
[animateRows]="true"
(cellClicked)="onCellClicked($event)"
(gridReady)="onGridReady()"
style = "height: 500px; width: 75%; margin-top:2rem; margin-bottom:2rem;"
class="ag-theme-alpine"
></ag-grid-angular>


</div>


