.main {
  margin-top: 10rem;
  margin-bottom: 10rem;
  
}

button.btn.btn-outline-warning {
  margin: 0.3rem;
}

.valutation {
  display:flex;
  justify-content:center;
  align-items: center;
  flex-direction:row !important ;
  height: 5rem!important;
  
}

.loading {
  display:flex;
  justify-content:center;
  align-items:center;
  width:100vw;
  height:100vh;
}


.jumbo_left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.jumbo_right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review {
  display: flex;
  justify-content:center;
  align-items: center;
}
.score_div {
  display: flex;
  justify-content:center;
  align-items: center;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.score {
  width: 10rem;
  height: 10rem;
  background-color:rgb(226, 171, 53);
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  border-radius: 3rem;
}

.score_t {
  color:white;
}
.score_p {
  color:white;
}

.valutation {
  display: flex;
  flex-direction: column;
  height: 10rem;
}


  
  /* ----------col Extra Small----------*/
  
  @media screen and (max-width: 576px) {

  .main {
    margin-top: 2rem;
    margin-bottom: 5rem;
    flex-direction: column-reverse;
  }


  img.prod_img {
    width: 20rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  p.prod_dex {
  font-size: 17px;
  padding: 30px;
  }

  h1.prod_h1 {
    font-size: 22px;
}
 
  
  }
  
  
  
  /* ----------col-sm Small----------*/
  
  @media screen and (min-width: 576px) and (max-width: 768px) {
  

  
    .main {
      margin-top: 1rem;
      margin-bottom: 3rem;
      flex-direction: column-reverse;
    }
  
  
    img.prod_img {
      width: 20rem;
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
  
    p.prod_dex {
    font-size: 17px;
    padding: 30px;
    }
  
    h1.prod_h1 {
      font-size: 22px;
  }
  
  
  }
  
  /* ----------col-md Medium----------*/
  
  @media screen and (min-width: 768px) and (max-width: 992px) {
  
  
    
    .main {
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
  
  
    img.prod_img {
      width: 20rem;
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
  
    p.prod_dex {
    font-size: 17px;
    padding: 30px;
    }
  
    h1.prod_h1 {
      font-size: 22px;
  }
  
  
  
  }
  
  /* ----------col-lg Large----------*/
  
  
  @media screen and (min-width: 992px) and (max-width: 1200px) {
    
  
  
  
  }
  
  /* ----------col-xl Extra Large----------*/
  
  
  @media screen and (min-width: 1200px) {
    
  
    
  
  }
  