


<div class="choice">
  <button [disabled]="isAdding" (click)="isAdding=true" (click)="isRemoving=false" type="button"
    class="choice-btn btn btn-primary btn-lg">Add</button>
  <button [disabled]="isRemoving" (click)="isAdding=false" (click)="isRemoving=true" type="button"
    class="choice-btn btn btn-warning btn-lg">Remove</button>
</div>

<div *ngIf="isAdding" class="card-body p-md-5">
  <div  class="row justify-content-center">
    <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

      <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Add new product</p>

      <form [formGroup]="AddForm" (ngSubmit)="addProduct()" class="mx-1 mx-md-4">

        <div class="d-flex flex-row align-items-center mb-4">
          <i class="fas fa-user fa-lg me-3 fa-fw"></i>
          <div class="form-outline flex-fill mb-0">
            <input formControlName="title" type="text" id="form3Example1c" class="form-control" />
            <label class="form-label" for="form3Example1c">Title</label>
          </div>
        </div>

        <div class="d-flex flex-row align-items-center mb-4">
          <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
          <div class="form-outline flex-fill mb-0">
            <input formControlName="price" type="number" id="form3Example3c" class="form-control" />
            <label class="form-label" for="form3Example3c">Price</label>
          </div>
        </div>

        <div class="d-flex flex-row align-items-center mb-4">
          <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
          <div class="form-outline flex-fill mb-0">
            <input formControlName="description" type="text" id="form3Example4c" class="form-control" />
            <label class="form-label" for="form3Example4c">Description</label>
          </div>
        </div>

        <div class="d-flex flex-row align-items-center mb-4">
          <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
          <div class="form-outline flex-fill mb-0">
            <input formControlName="category" type="text" id="form3Example4c" class="form-control" />
            <label class="form-label" for="form3Example4c">Category</label>
          </div>
        </div>

        <div class="d-flex flex-row align-items-center mb-4">
          <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
          <div class="form-outline flex-fill mb-0">
            <input formControlName="producer" type="text" id="form3Example4c" class="form-control" />
            <label class="form-label" for="form3Example4c">Producer</label>
          </div>
        </div>

        <div class="d-flex flex-row align-items-center mb-4">
          <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
          <div class="form-outline flex-fill mb-0">
            <input formControlName="image" type="text" id="form3Example4c" class="form-control" />
            <label class="form-label" for="form3Example4c">Image URL</label>
          </div>
        </div>

        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
          <button [disabled]="!AddForm.valid" (click)="addProduct()" type="button"
            class="btn btn-primary btn-lg">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div *ngIf="isRemoving" class="row flex-lg-nowrap justify-content-center align-items-center">
  <ag-grid-angular
  [rowData]="products$ | async"
  [columnDefs]="colDefs"
  [animateRows]="true"
  (cellClicked)="onCellClicked($event)"
  (gridReady)="onGridReady()"
  style = "height: 500px; width: 80%; margin-top:2rem; margin-bottom:2rem;"
  class="ag-theme-alpine"
  ></ag-grid-angular>

</div>
