.loading {
    display:flex;
    justify-content:center;
    align-items:center;
    width:100vw;
    height:100vh;
  }

  .choice {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.choice-btn {
    margin-right: 1rem;
    width: 100px;
}

.removing-table{
  margin-top: 3rem;
}